*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    box-shadow: 1px 1px 8px ;

    align-items: center;
    
}
.lnav{
    font-size: 30px;
}
.lnav i{
    color: rgb(140, 192, 62);
}   
.mnav{
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 15px;
    margin-left: 200px;
}
.icon i{
    font: 100 25px/1 FontAwesome;
    margin-left: 70px;
}
.rnav button{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    background-color: black;

}
.rnav button i{
    color: greenyellow;
}

.rnav button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    background-position: left;
    transition: ease-in  0.5s;
}
#feature video{
    width: 100%;
    object-fit: cover;
}
.heading{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading h1{
    font-size: 70px;
    color: rgb(32, 32, 32);
}
#btn{
    padding: 10px 20px;
    font-size: 15px;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    color: white;
    background-size: 200% 100%;
    background-position: right;
    border-radius: 30px;
    cursor: pointer;

}
#btn:hover{
    background-position: left;
    color: black;
    transition: background-position .4s;
}
#btn i{
    color: rgb(24, 222, 80);

}
#btn{
    margin-top: 50px;
}
.btn2{
    text-align: center;

}
.btn2 button{
    margin-top:70px;
    margin-bottom: 70px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    font-weight: 500;
    color: rgb(132, 130, 130);
    border-radius: 30px;
    border: 1px solid rgb(111, 110, 110);
}
.btn2 button:hover{
    background-color: rgb(143, 142, 142);
    color: rgb(37, 37, 37);
    transition: background-color .4s;
}
#phones{
    width: 80%;
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: #F6F3EF;
    border-radius: 40px;

}
#vid video{
    width: 80%;
    margin-left: 20%;
    border-radius: 30px;
}
.pho1 {
    width: 50%;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 80px;
}
.pho1 h4{
    font-weight: 500;
}
.color{
    display: flex;
    gap: 20px;
}
.color span{
    padding: 5px;
    background-color: rgb(236, 223, 170);
    border-radius: 8px;
}
.pho1 h1{
    margin: 20px 0px;
    font-size: 36px;
}
#color2 span{
    color: rgba(28, 123, 232, 0.634);
}
.pho1 p{
    margin: 10px 0px;
    font-weight: 500;
}
.pho1 button{
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    margin: 15px 0px;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    color: white;
    background-size: 200% 100%;
    background-position: right;
    border-radius: 30px;
}    
.pho1 button:hover{
    background-position: left;
    color: rgb(0, 0, 0);
    background-color: white;
    transition: ease-in 0.5s;
}
.pho1 i{
    color: rgb(81, 198, 63);
}
#devices{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
}
#div1{
    width: 600px;
    padding-top: 20px;    
    background-color: #ECF2FF;
    border-radius: 30px;
}
#div1 h4{
    font-weight: 500;
    padding-left: 20px;

    
}
#div1 span{
    padding: 5px;
    color: blue;
    background-color: rgba(179, 179, 226, 0.586);
    border-radius: 8px;   
}
#div1 h1{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 28px;
}
#div1 p{
    padding-left: 20px;
    padding-top: 20px;
}
#div1 button{
    margin: 20px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#div1 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#div1 i{
    color: #4cd65a;
}
#div1 video{
    max-width: 600px;
    margin-top: 35px;
    border-radius: 30px;
}
#div2{
    width: 600px;
    padding-top: 20px; 
    background-color: #F8F6FF;
    border-radius: 30px;
    margin-top: 25px;
    
}
#div2 p{
    font-weight: 500;
    padding-left: 20px;

    
}
#div2 h1{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 28px;
}
#div2 button{
    margin: 20px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#div2 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#div2 i{
    color: #4cd65a;
}
#div2 video{
    max-width: 600px;
    margin-top: 120px;
    border-radius: 30px;
}
#div3 img{
    width: 600px;
    border-radius: 30px;
}
#div3 h1{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 180px;
    margin-left: 30px;
}

#div4{
    width: 600px;
    padding-top: 20px;    
    background-color:#F3F4F6;
    border-radius: 30px;
    margin-top: 25px;
}
#div4 h4{
    font-weight: 500;
    padding-left: 20px;

    
}
#div4 span{
    padding: 5px;
    color: rgb(51, 51, 51);
    background-color: rgba(137, 137, 137, 0.586);
    border-radius: 8px;   
}
#div4 h1{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 28px;
}
#div4 p{
    padding-left: 20px;
    padding-top: 20px;
}
#div4 button{
    margin: 20px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#div4 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#div4 i{
    color: #4cd65a;
}
#div4 video{
    max-width: 600px;
    margin-top: 35px;
    border-radius: 30px;
}
#div5 img{
    width: 600px;
    border-radius: 30px;
    margin-top: 25px;
}
#div5 h1{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 250px;
    margin-left: 30px;
}
#heading{
    text-align: center;
}
#heading1 h1{
    font-size: 50px;
    margin-top: 120px;
}
#heading1 p{
    font-weight: 500;
    margin: 10px;
}
#heading1 a{
    color: #4cd65a;
}
#heading2{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px;
}
#heading2 p:hover{
    background-color: rgba(74, 72, 72, 0.271);
    padding: 5px 20px;
    border-bottom: 2px solid black;
    transition: ease-in .2s;
}
#samsungpho01{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}
#sam1{
    width: 350px;
    background-color: #E8F0FE;
    border-radius: 30px;
}
#sam1 h4{
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}
#sam1 span{
    color: rgba(0, 0, 255, 0.763);
    background-color: rgba(0, 0, 255, 0.132);
    padding: 5px;
    border-radius: 8px;
}
#sam1 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 15px 20px;
}
#sam1 p{
    padding: 10px 20px;
}
#sam1 button{
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#sam1 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#sam1 i{
    color: #4cd65a;
}
#sam1 img{
    width: 350px;
    margin-top: 10px;
}

#sam2{
    width: 350px;
    background-color:#F1F3F4;
    border-radius: 30px;
}
#sam2 h4{
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}
#sam2 span{
    color: rgba(71, 71, 71, 0.911);
    background-color: rgba(63, 63, 64, 0.132);
    padding: 5px;
    border-radius: 8px;
}
#sam2 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 15px 20px;
}
#sam2 p{
    padding: 10px 20px;
}
#sam2 button{
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#sam2 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#sam2 i{
    color: #4cd65a;
}
#sam2 img{
    width: 350px;
    margin-top: 10px;
}
#sam3{
    width: 350px;
    background-color:#F1F3F4;
    border-radius: 30px;
}
#sam3 h4{
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}
#sam3 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 15px 20px;
}
#sam3 p{
    padding: 10px 20px;
}
#sam3 button{
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#sam3 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#sam3 i{
    color: #4cd65a;
}
#sam3 img{
    width: 350px;
    margin-top: 10px;
}
#samsungpho02{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}

#sam4{
    width: 350px;
    background-color:#F8F4FF;
    border-radius: 30px;
}
#sam4 h4{
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}
#sam4 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 15px 20px;
}
#sam4 p{
    padding: 10px 20px;
}
#sam4 button{
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#sam4 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#sam4 i{
    color: #4cd65a;
}
#sam4 img{
    width: 350px;
    margin-top: 10px;
}
#sam5{
    width: 350px;
    background-color:#FEF7E0;
    border-radius: 30px;
}
#sam5 h4{
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}
#sam5 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 15px 20px;
}
#sam5 p{
    padding: 10px 20px;
}
#sam5 button{
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#sam5 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#sam5 i{
    color: #4cd65a;
}
#sam5 img{
    width: 350px;
    margin-top: 10px;
}
#sam6{
    width: 350px;
    background-color:#e8f5e9;
    border-radius: 30px;
}
#sam6 h4{
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}
#sam6 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 15px 20px;
}
#sam6 p{
    padding: 10px 20px;
}
#sam6 button{
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#sam6 button:hover{
    background-position: left;
    color: black;
    transition: background-position .5s;
}
#sam6 i{
    color: #4cd65a;
}
#sam6 img{
    width: 350px;
    margin-top: 10px;
}
#samsungphones button{
    padding: 10px 20px ;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    background: linear-gradient(90deg, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: white;
    border-radius: 30px;
}
#samsungphones button:hover{
    background-position: left;
    color: black;
    transition: ease-in.5s;
}
#samsungphones i{
    color: #4cd65a;
}
#head{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    color: rgb(51, 49, 49);
}

#googleai{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 50px;

}
#google1{
    width: 350px;
    background-color:#F8F4FF;
    border-radius: 30px;
}
#google1 h1{
    font-size: 25px;
    padding: 5px 20px;
}
#google1 p{
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 500;
}
#google1 img{
    width: 350px;
    margin-top: 47px;
    border-radius: 30px;
}
#google1 button{
    padding: 10px 20px ;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: #F8F4FF;
    background: linear-gradient(90deg, rgb(210, 210, 210) 50%, #F8F4FF 50%);
    background-size: 200% 100%;
    background-position: right;
    border-radius: 30px;
}
#google1 button:hover{
    background-position: left;
    transition: background-position .5s;
}

#google2{
    width: 350px;
    height: 600px;
    background-color:#FBEBE2;
    border-radius: 30px;
}
#google2 h1{
    font-size: 25px;
    padding: 5px 20px;
}
#google2 p{
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 500;
}
#google2 img{
    width: 350px;
    margin-top: 47px;
    border-radius: 30px;
}
#google2 button{
    padding: 10px 20px ;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: #FBEBE2;
    background: linear-gradient(90deg, rgba(169, 207, 200, 0.573) 50%, #FBEBE2 50%);
    background-size: 200% 100%;
    background-position: right;
    border-radius: 30px;
}
#google2 button:hover{
    background-position: left;
    transition: background-position .5s;
}

#google3{
    width: 350px;
    background-color:#E8F0FE;
    border-radius: 30px;
}
#google3 h1{
    font-size: 25px;
    padding: 5px 20px;
}
#google3 p{
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 500;
}
#google3 img{
    width: 350px;
    margin-top: 47px;
    border-radius: 30px;
}
#google3 button{
    padding: 10px 20px ;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: #E8F0FE;
    background: linear-gradient(90deg, rgb(140, 140, 140) 50%, #E8F0FE 50%);
    background-size: 200% 100%;
    background-position: right;
    border-radius: 30px;
}
#google3 button:hover{
    background-position: left;
    transition: background-position .5s;
}

#bug video{
    width: 80px;
    margin-top: 200px;
    margin-left: 50%;
    transform: translate(-50%);
}
#swit{
    width: 75%;
    position: absolute;
    color: white;
    margin-left: 50%;
    margin-top: 20%;
    transform: translate(-50%);
}
#photo img{
    width: 75%;
    margin-left: 12%;
    margin-top: -5px;
    border-radius: 30px;
}
#swit h4{
    font-weight: 500;
    padding: 20px;
}
#swit h1{
    font-size: 30px;
    padding: 10px 20px;
}
#swit p{
    padding: 10px 20px;
    font-weight: 500;
}
#swit button{
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 30px;
    background-color: #a4a3a2; 
    background: linear-gradient(90deg, rgb(255, 255, 255) 50%, #b1b1b1 50%);
    background-size: 200% 100%;
    background-position: right;
    font-size: 15px;
    font-weight: 500;   
}
#swit button:hover{
    background-position: left;
    transition: background-position .5s;
}
#footer-part{
    width: 100%;
    background-color: rgba(219, 215, 215, 0.685);
}
#follow{
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding: 100px 150px;
}
#follow h3{
   font-size: 20px;

}
#follow i{
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
}
#footer-part1{
    width: 60%;
    margin-left: 50% ;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    padding: 40px 0px;
}
#footer-part1 p{
    padding-top: 20px;
}
#footer-part2{
    display: flex;
    justify-content: center;
    width: 89%;
    padding-top: 40px;
    gap: 95px;
}
#footer-part2 p{
    padding-top: 20px ;
}
#footer-part video{
    height: 40px;
    rotate: 180deg;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(0% -50%);
}
